@import url('https://fonts.googleapis.com/css?family=Orbitron');

*, *::after, *::before{
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background: 
  linear-gradient(rgba(245, 185, 66, 0.5), 
  hsl(175, 100%,50%));
  font-size: 30px;
  display:flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  overflow:hidden;
}
.clock{
  width:500px;
  height:500px;
  background-color:rgba(255,255,255,.8);
  /* background-image: url('https://previews.123rf.com/images/tigatelu/tigatelu1404/tigatelu140400068/27649522-tropical-island-cartoon.jpg'); */
  background-size: 150px;
  border-radius:50%;
  /* border:2px solid black; */
  position:relative;
}
.clock .number{
  /*  */
  position:absolute;
  width:100%;
  height:100%;
  
  text-align: center;
  padding-top:5px;
}
.number1{transform:rotate(30deg);}
.number2{transform: rotate(60deg);}
.number3{transform: rotate(90deg);}
.number4{transform: rotate(120deg);}
.number5{transform: rotate(150deg);}
.number6{transform:rotate(180deg);}
.number7{transform:rotate(210deg);}
.number8{transform:rotate(240deg);}
.number9{transform:rotate(270deg);}
.number10{transform:rotate(300deg);}
.number11{transform: rotate(330deg);}

.clock .hand{
  /* Hand Rotation */
  
  position:absolute;
  bottom:50%;
  left:50%;
  background-color:black;
  width: 15px;
  height: 45%;
  border: 1px solid white;
  border-top-right-radius: 10px;
  border-top-left-radius:10px;
  /* Translates X-axis by 50% of item's width */
  transform: translateX(-50%); 
  transform-origin:bottom;
  z-index:10;
  /* Rotation of Hand */
  --rotation:0;
  transform: rotate(calc(var(--rotation)*1deg));
}
/* Circles in Clock */
/* .clock::after{
  content:'';
  position: absolute;
  background-color:black;
  border-radius:50%;
  height:200px;
  width:200px;
  z-index:15;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
} */
/* #blue{
  content:'';
  position: absolute;
  background-color:blue;
  border-radius:50%;
  height:200px;
  width:200px;
  z-index:15;
  top:75%;
  left:25%;
  transform: translateX(-50%) translateY(-50%);
} */
.clock .hand.second{
  width:5px;
  height:45%;
  background-color:red;
}
.clock .hand.minute{
  width:5px;
  height:45%;
  background-color:yellowgreen;
}
.clock .hand.hour{
  width:5px;
  height:45%;
  background-color:blue;
}
.digital{
  display:flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  
}